*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/main/res/drawable/dummy_movie_poster.jpg
/.idea/
/app/src/main/res/drawable/dummy_actor.jpg
/app/src/main/cpp/api-key.cpp
